
<div class="row">


<div class="medium-3 small-12 columns">



              <div class="hide-for-small">
                <div class="sidebar">
  <h5>Catégories</h5>
  <hr></hr>

  <form>
    <!--  <label>Search Documentation</label> -->
    <input tabindex="1" id="autocomplete" type="search" placeholder="recherche..." autocomplete="off">
  </form>
  <ul class="side-nav">

      <li><a href="../index.html" data-search="">homme</a></li>
      <li><a href="../css.html" data-search="Styles">femme</a></li>
      <li><a href="../sass.html" data-search="SCSS">enfant</a></li>
      <li><a href="../applications.html" data-search="Rails,Gem">acces</a></li>
      <li><a href="../javascript.html" data-search="">Haute Couture</a></li>
      <li><a href="global.html" data-search="Global Styles,Global Mixins,Global Variables,Useful HTML Classes">Parure</a></li>
      <li><a href="kitchen_sink.html" data-search="">Sac</a></li>
      <li><a href="../upgrading.html" data-search="Migration">Ceinture</a></li>

      
              </div>
            </div>
            </div>






            <div class="medium-9 small-12 columns">

<!--
We will make a slider with stylized thumbnails using CSS3
The markup is very simple:
Radio Inputs
Labels with thumbnails to detect click event
Main Image
-->
<div class="slider">

<!--Lets show the second image by default on page load-->
	<input type="radio" name="slide_switch" id="id1" checked="checked"/>
	<label for="id1">
		<img src="http://s.m-lr.com/1024/PE14/20140603/pop-perso/pop_newsletter.jpg" width="100"/>
	</label>
	<img src="http://s.m-lr.com/1024/PE14/20140603/pop-perso/pop_newsletter.jpg" width="450" />
	

	<input type="radio" name="slide_switch" id="id2"/>
	<label for="id2">
		<img src="http://s.m-lr.com/1024/PE14/20140527/hp/lemag.jpg" width="100"/>
	</label>
	<img src="http://s.m-lr.com/1024/PE14/20140527/hp/lemag.jpg" width="450" />
	
	
	
<!-- We will use PrefixFree - a script that takes care of CSS3 vendor prefixes
You can download it from http://leaverou.github.com/prefixfree/ -->
<script src="http://thecodeplayer.com/uploads/js/prefixfree.js" type="text/javascript"></script>



<br></br>
	<div class="medium-12 small-12 columns">
	  <div id="bordure">
		<h6>Nouvelle Collection</h6>
	  </div>	
<br></br>
	  <div class="medium-4 small-12 columns">
	  <div id="bordure1">
	  <div id="bordure2">
	  <img src="http://i2.cdscdn.com/pdt2/j/3/0/1/700x700/expejj30/rw/odlo-sous-vetement-warm-turtle-zip-ls-homme.jpg">
	  <br></br>
	  <p>blabla</p>
	  <p>prix : 289euros</p>
	  </div>
	  </div>	
	  </div>

	  

	  <div class="medium-4 small-12 columns">
	  <div id="bordure1">
	  <div id="bordure2">
	  <img src="http://img.pecheur.com/sous-vetement-mixte-technique-pull-termoswed-plus-z-159-15940.jpg">
	  </div>
	  <br></br>
	  <p>blabla</p>
	  <p>prix : 289euros</p>
	  </div>
	  </div>



	</div>




            </div>

